body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

#main-container {
    display: flex;
}

#graph-container {
    flex: 1;
    box-sizing: border-box;
}

#imageContainer {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

#formContainer {
    max-height: calc(100vh - 150px);
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#slideContainer {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

#slideTextBox {
    display: flex;
    padding: 20px;
}

.slider-container {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

img {
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
}

#next {
    float: right
}

#prev {
    float: left
}

h1 {
    color: #333;
}

h2 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

em {
    color: blue;
    font-weight: bold;
}

input[type="range"] {
    width: 125px;
}

input[type="number"] {
    width: 75px;
}

.navbar-container {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.navbar-header {
    margin-right: 20px
}

.navbar-brand {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #ddd;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-link:hover {
    background-color: #555;
}

.phase {
    position: relative;
    padding-bottom: 60px;
}

.button-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}

.button-container-one {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    justify-content: right;
    padding: 0 20px;
}

.button-container-one button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button-container-one button:hover {
    background-color: #0056b3;
}