{% extends 'base.html' %}
    
{% block head %}
    <title>Simulation</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
{% endblock %}

{% block body %}
    <nav class="navbar-container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Thermal Magic</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/simulation" class="nav-link">Simulation</a></li>
            <li class="nav-item"><a href="https://www.nist.gov/programs-projects/thermal-magic-si-traceable-method-3d-thermal-magnetic-imaging-and-control" target="_blank" rel="noopener noreferrer" class="nav-link">Project Page</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Simulation</h1>
    </div>
    
    <div id="main-container">
        <div id="graph-container">
            <div id="helperContainer" style="display: block;">
                <div id="slideTextBox">
                    <text>
                        On this screen, you can choose the parameters that are used in the simulation and
                        reconstruction. These involve the parameters that characterize the MNPs; their
                        diameter <em>d</em> and saturation magnetization <em>M<sub>s</sub></em>. Furthermore, 
                        it is possible to change the experimental parameters, such as the strength of the 
                        gradient field <em>g<sub>00</sub></em>, the drive field frequencies 
                        <em>f<sub>0</sub></em> and <em>f<sub>1</sub></em>, and the receive coil sensitivity 
                        <em>B<sub>s</sub></em>. Finally, the parameters that directly influence the quality 
                        of the reconstruction, the noise level <em>κ</em>, and the exponent of the
                        regularization parameter <em>λ</em> can be changed.
                    </text>
                </div>  
            </div>
            <div id="imageContainer" style="display: none;">
                <!-- Graph images will be added here dynamically -->
            </div>
        </div>
        
        <div id="formContainer">
            <form id="plotForm">
                <div class="slider-container">
                    <label class="slider-label" for="g00" title="Gradient field in x-direction">Select the value of g<sub>00</sub>:</label>
                    <input name="g00" type="range" value="8" min="2" max="20" step="1" oninput="this.nextElementSibling.value = this.value">
                    <input name="g00" type="number" value="8" min="2" max="20" step="1" oninput="this.previousElementSibling.value = this.value" required>
                    <text>T/m</text>
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="f0" title="Drive coil frequency x-direction">Select the value of f<sub>0</sub>:</label>
                    <input name="f0" type="range" value="25500" min="0" max="30000" step="50" oninput="this.nextElementSibling.value = this.value">
                    <input name="f0" type="number" value="25500" min="0" max="30000" step="50" oninput="this.previousElementSibling.value = this.value" required>
                    <text>Hz</text>
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="f1" title="Drive coil frequency y-direction">Select the value of f<sub>1</sub>:</label>
                    <input name="f1" type="range" value="25250" min="0" max="30000" step="50" oninput="this.nextElementSibling.value = this.value">
                    <input name="f1" type="number" value="25250" min="0" max="30000" step="50" oninput="this.previousElementSibling.value = this.value" required>
                    <text>Hz</text>
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="d" title="Particle diameter">Select the value of d:</label>
                    <input name="d" type="range" value="20" min="10" max="30" step="1" oninput="this.nextElementSibling.value = this.value">
                    <input name="d" type="number" value="20" min="10" max="30" step="1" oninput="this.previousElementSibling.value = this.value" required>
                    <text>nm</text>
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="Ms" title="Saturation magnetization">Select the value of M<sub>s</sub>:</label>
                    <input name="Ms" type="range" value="450000" min="0" max="700000" step="10000" oninput="this.nextElementSibling.value = this.value">
                    <input name="Ms" type="number" value="450000" min="0" max="700000" step="10000" oninput="this.previousElementSibling.value = this.value" required>
                    <text>A/m</text>
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="Bs" title="Coil sensitivity">Select the value of B<sub>s</sub>:</label>
                    <input name="Bs" type="range" value="0.0008" min="0" max="0.001" step="0.0001" oninput="this.nextElementSibling.value = this.value">
                    <input name="Bs" type="number" value="0.0008" min="0" max="0.001" step="0.0001" oninput="this.previousElementSibling.value = this.value" required>
                    <text>T/A</text>
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="lam_exp" title="Regularization constant">Select the exponent of λ:</label>
                    <input name="lam_exp" type="range" value="-6" min="-9" max="-4" step="0.5" oninput="this.nextElementSibling.value = this.value">
                    <input name="lam_exp" type="number" value="-6" min="-9" max="-4" step="0.5" oninput="this.previousElementSibling.value = this.value" required>
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="noise">Select the noise level:</label>
                    <input name="noise" type="range" value="0.001" min="0.001" max="0.05" step="0.001" oninput="this.nextElementSibling.value = this.value">
                    <input name="noise" type="number" value="0.001" min="0.001" max="0.05" step="0.001" oninput="this.previousElementSibling.value = this.value" required>
                </div>
                    
                <button id="plotButton" type="submit">Run Code!</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#plotForm').submit(function (e) {
                e.preventDefault();
    
                // Disable the button and change its text to "Loading..."
                $('#plotButton').prop('disabled', true).html('Loading...').css('background-color', 'gray');
    
                $.ajax({
                    type: 'POST',
                    url: '/simulation',
                    data: $('#plotForm').serialize(),
                    success: function (data) {
                        // Enable the button, reset its text, and revert color on success
                        $('#plotButton').prop('disabled', false).html('Run Again!').css('background-color', '');
                        $('#imageContainer').html(data).show();
                        $('#helperContainer').html(data).hide();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        // Enable the button, reset its text, and revert color on error
                        $('#plotButton').prop('disabled', false).html('Run Code!').css('background-color', '');
                    }
                });
            });
        });
    </script>
{% endblock %}